#elementor-panel-get-pro-elements {
  display: none !important;
}
.elementor-icons-manager__tab__item {
  height: 80px !important;
}
.elementor-element .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}
.elementor .elementor-section.elementor-section-boxed > .elementor-container {
    &.elementor-column-gap-default {
        max-width: 1190px;
    }
    &.elementor-column-gap-extended {
        max-width: 1200px;
        .elementor-section-boxed > .elementor-column-gap-no {
            max-width: 1170px;
        }
    }
}
.site-content {
    .elementor-container {
        &.elementor-column-gap-default {
            margin: 0 -10px;
        }
        &.elementor-column-gap-extended {
            margin: 0 -15px;
        }
    }
    .elementor-section-stretched.elementor-section-boxed .elementor-container.elementor-column-gap-default {
        margin: 0 auto;
        .elementor-row {
            .elementor-column-gap-extended {
                margin: 0 -10px;
            }
        }
    }
    .elementor-section-stretched.elementor-section-boxed .elementor-container.elementor-column-gap-extended {
        margin: 0 auto;
        .elementor-row {
            .elementor-column-gap-extended {
                margin: 0 -15px;
            }
        }
    }
    .elementor-widget-text-editor {
        color: inherit;
        font-family: inherit;
        font-weight: inherit;
    }
}

.footer-template-default {
    #ct-masthead, #pagetitle {
        display: none;
    }
}

.elementor-section-full_width.landing-boxed > .elementor-container {
    max-width: 1810px;
    padding: 0 55px;
    @media #{$max-lg2} {
        padding: 0 15px;
    }
    > .elementor-row {
        background-color: #fff;
        @include box-shadow(0 0 54px rgba(#07004c, 0.30));
        overflow: hidden;
        .elementor-element > .elementor-container {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.elementor-section-full_width.landing-boxed > .elementor-container > .elementor-row {
    @include box-shadow(none);
}

.elementor_library-template-default {
  .entry-meta, .entry-footer, .post-previous-next, #secondary {
    display: none;
  } 
  #content #primary {
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media #{$max-lg} {
    .col-offset-left > .elementor-column-wrap .elementor-widget-wrap {
        padding-left: 0 !important;
    }
    .col-offset-right > .elementor-column-wrap .elementor-widget-wrap {
        padding-right: 0 !important;
    }
}

.elementor-editor-active {
    .tnp-field > label {
        display: none;
    }
    #ct-masthead, .site-footer-custom {
        display: none;
    }
    .entry-content > .ct-marker-search-results {
        display: none;
    }
}

.animate-time1 .wow {
    animation-delay: 100ms;
}
.animate-time2 .wow {
    animation-delay: 200ms;
}
.animate-time3 .wow {
    animation-delay: 300ms;
}
.animate-time4 .wow {
    animation-delay: 400ms;
}
.animate-time5 .wow {
    animation-delay: 500ms;
}
.animate-time6 .wow {
    animation-delay: 600ms;
}
.animate-time7 .wow {
    animation-delay: 700ms;
}
.animate-time8 .wow {
    animation-delay: 800ms;
}
.animate-time9 .wow {
    animation-delay: 800ms;
}
.animate-time10 .wow {
    animation-delay: 1000ms;
}
.animate-time11 .wow {
    animation-delay: 1100ms;
}
.animate-time12 .wow {
    animation-delay: 1200ms;
}
.animate-time13 .wow {
    animation-delay: 1300ms;
}
.animate-time14 .wow {
    animation-delay: 1400ms;
}
.animate-time15 .wow {
    animation-delay: 1500ms;
}
.animate-time16 .wow {
    animation-delay: 1600ms;
}