$primary_color: #f19e0a;$secondary_color: #f19e0a;$third_color: #f19e0a;$dark_color: #000000;$link_color: #09a223;$link_color_hover: #89c709;$link_color_active: #89c709;$gradient_color_from: #0c3ef8;$gradient_color_to: #6a84ff;$gradient_color_from2: #9fd712;$gradient_color_to2: #cbf855;$gradient_color_from3: #1c7cff;$gradient_color_to3: #a3ff12;$gradient_color_from4: #006acc;$gradient_color_to4: #01d5ff;
                $body_default_font: Roboto;
            
                $heading_default_font: Poppins;
            